@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    transition: bottom 0.5s;
}

ul{
    list-style: none;
}

#root{
    min-height: 100vh;
    background-color: aliceblue;
}